<div class="container">
<h1>カート内商品編集</h1>
    <div class="row">
        <div class="col-sm-8">
            <% total_quantity = 0%>
            <% total_price = 0 %>
            <% current_end_user.cart_products.each do |cart_product|%>
                <div>
                    <%= attachment_image_tag cart_product.product.image, :fill, 80, 80, format: 'jpeg', class: "img-circle pull-left profile-img" %>
                    <h2>シングル/アルバム名</h2>
                    <%= cart_product.product.title %>
                    <hr>
                    <h2>在庫ありかどうかの表示</h2>
                    <%= cart_product.product.status %>
                    <hr>
                    <%= form_for cart_product, url: "/cart_products/#{cart_product.id}" ,method: :PUT do |f| %>
                        <h2>数量</h2>
                        <%= f.number_field :quantity %>
                        <%= f.submit 'この内容で更新する' %>
                    <% end %>
                    <hr>
                        <h2>小計（税込）</h2>
                    ¥ <%= cart_product.product.amount * cart_product.quantity %>
                        <h2>合計枚数</h2>
                    <%= total_quantity += cart_product.quantity %>
                        <h2>合計金額</h2>
                    <%= total_price += cart_product.product.amount * cart_product.quantity %>
                </div>
            <% end %>
        </div>
        <div class="col-sm-4">
            <h2>合計枚数</h2>
            <%= total_quantity %>
            <h2>合計（税込）</h2>
            <%= total_price %>
            </tr>
            <h2>送料</h2>
            <h2>+ ¥500</h2>
        </div>
        <hr>
        <div class="button_wrapper">
        <%= link_to new_order_path, class: "center-block" do %>
                <button type="button" class="btn btn-default">レジに進む</button>
        </div>
        <% end %>
    </div>  <%#rowの閉じタグ%>
</div>  <%#containerの閉じタグ%>
