<div class="container">
<h1>カート内商品編集</h1>
<br>
<% if current_end_user.cart_products.blank? %>
    <h1 class="alert alert-success">商品を選択してください</h1>
<% end %>
<br>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            <% total_quantity = 0 %>
            <% total_price = 0 %>
            <% current_end_user.cart_products.each do |cart_product|%>
                <div>
                    <%= attachment_image_tag cart_product.product, :image, :fill, 100, 100, fallback: "default_product.jpg" , size:'100x100'  %>
                    <br>
                    <br>
                    <%# <h2>シングル/アルバム名</h2> %>
                    <h2><%= cart_product.product.title %></h2>
                    <hr>
                    <%# 在庫数の計算式です。 %>
                    <% productquantity = cart_product.product.arrivals.sum(:quantity) - cart_product.product.order_details.sum(:quantity) %>
                    <h2>在庫数：<%= productquantity %>枚</h2>
                    <hr>
                    <h2>販売状況</h2>
                    <% if productquantity == 0 %>
                    <h2 class="card-title soldout">売り切れ<h2>
                    <% else %>
                    <h2 class="card-title sale">販売中</h2>
                    <% end %>
                    <hr>
                    <h2>金額：¥ <%= (cart_product.product.amount * 1.1).floor(0) %>（税込）</h2> 
                    <hr>
                    <%= form_for cart_product, url: "/cart_products/#{cart_product.id}" ,method: :PUT do |f| %>
                        <h2>数量</h2>
                        <%= f.number_field :quantity, min: 0,max: productquantity %>
                        <%= f.submit 'この内容で更新する' %>
                    <% end %>
                    <hr>
                
                    <h2>枚数：<%= cart_product.quantity %> 枚</h2>                    
                    <%# <h2>合計枚数</h2> %>
                    <% total_quantity = cart_product.quantity + total_quantity%>
                    <h2>小計：¥ <%= (cart_product.product.amount * cart_product.quantity * 1.1).floor(0) %>（税込）</h2>
                    
                    <%# <h2>合計金額</h2> %>
                    <% total_price += (cart_product.product.amount * cart_product.quantity * 1.1).floor(0) %>
                </div>
                <hr>
                <%= link_to "削除する", cart_product_path(cart_product), method: :delete, class: "btn btn-danger" %>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <% end %>
        </div>
        <div class="col-sm-4">
            <div class="box-line">
                <h2>合計枚数：<%= total_quantity %> 枚</h2>
                <h2>合計：¥ <%= total_price %>（税込）</h2>
                <h2>送料：+ ¥500</h2>
                <hr>
                <h2>総計：¥ <%= total_price.floor(0) + 500 %>（税込）</h2>
                
            </div>
            <br>
            <div class="button_wrapper">
                <% if total_quantity >= 1 %>
                    <%= link_to "レジに進む", new_order_path, class: "btn btn-success" %><br><br>
                    <%= link_to "お買い物を続ける", products_path, class: "btn btn-info" %>
                <% else %>
                    <%= link_to "レジに進む", cart_products_path, class: "btn btn-success" %><br><br>
                    <%= link_to "商品を選ぶ", products_path, class: "btn btn-info" %>
                <% end %>
            </div>
        </div>
    </div>  <%#rowの閉じタグ%>
</div>  <%#containerの閉じタグ%>
