<div class="container">
    <h1>受注履歴一覧</h1>
    <hr>
    <br>
    <br>
    <div class="page-header">
        <div class="row">
            <% @orders.each do |order| %>
                <div class="col-sm-3">
                    <div class="card px-3 py-4 center">
                        <h2>配送ステータス:<%= order.delivery_status %></h2>                    
                        <h2>購入日：<%= order.updated_at.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") %></h2>
                        <h2>購入者：<%= order.delivery_name %></h2>
                            <div class="card-body px-1 py-4">
                                    <h2 class="card-title">シングル/アルバム名<h2>
                                    <%= order.order_details.first.product.title %>             
                                    <h2 class="card-title">枚数<h2>
                                    <%= order.order_details.first.quantity %>枚
                                    <h2 class="card-title">合計金額<h2>
                                    ¥<%= order.order_details.first.purchase_price %>
                                
                            </div>
                            <div class= "button-wrapper">
                                <%= link_to "受注履歴詳細へ", admin_order_path(order.id), class: 'btn' %>
                            </div>
                    </div>
                </div>
            <% end %>
            <br> 
        </div> <%#rowの閉じタグ%>
    </div>
</div>  <%#containerの閉じタグ%>

<div class="pagination">
<%= paginate @orders %>
</div>



