<div class= "container">
    <h1>受注履歴詳細</h1>
    
    <hr>
    <br>
    <div class="row">
    <div class="col-md-2">
    </div>

        <div class="col-md-4">
            <h2>受注日 : <%= @order.updated_at.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") %></h2>
            <% total_quantity = 0 %>
            <% @order.order_details.each do |detail| %>
            <hr>
            <%= attachment_image_tag detail.product, :image, :fill, 100, 100, fallback: "default_product.jpg" , size:'100x100' %> 
        </div>
        <div class="col-md-4">
        <br>
            <hr>
            <h2>シングル/アルバム名 : <%= detail.product.title %></h2>
            <hr>
            <h2>アーティスト名 : <%= detail.product.artist.artist_name %></h2>
            <hr>
            <h2>レーベル名 : <%= detail.product.label.label_name %></h2>
            <hr>
            <h2>値段 : <%= detail.purchase_price %> (税込)</h2>
            <hr>
            <h2>購入枚数 : <%= detail.quantity %></h2>
            <% total_quantity += detail.quantity %>
        
            <% end %>
            <hr>
            <h2>合計枚数 : <%= total_quantity %> 枚</h2>

            <hr>
            <h2>小計 : ¥<%= @order.purchase_price_total %> (税込)</h2>

            <hr>
            <h2>送料 : ¥<%= @order.postage %></h2>

            <hr>
            <h2>購入価格総計 : ¥<%= @order.purchase_price_total + 500 %>(税込)</h2>

            <hr>
            <h2>購入者名 : <%= @order.delivery_name %></h2>

            <hr>
            <h2>郵便番号 : <%= @order.delivery_postal_code %></h2>

            <hr>
            <h2>お届け先住所 : <%= @order.delivery_address %></h2>

            <hr>
            <h2>配送ステータス : <%= @order.delivery_status %></h2>

            <hr>
            <h2>支払い方法 : <%= @payment %></h2>
            <hr>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
