<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h1>Maple disc.</h1>
            <hr>
            <br>
            <h1>
                <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
            </h1>
            <h1>
                <%= link_to "受注一覧", admin_orders_path %>
            </h1>
            <h1>
                <%= link_to "新規商品追加", new_admin_product_path %>
            </h1>
            <h1>
                <%= link_to "入荷履歴一覧", admin_arrivals_path %>
            </h1>
            <h1>
                <%= link_to "ユーザ情報一覧", admin_end_users_path %>
            </h1>
            <h1>
                <%= link_to "販売商品一覧", admin_products_path %>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>