<div class="container">
<h1>購入確認</h1>
<div>
    <% if params[:address].to_i != 0 %>
    <h2>お届け先郵便番号</h2>
    <%= @address.delivery_postal_code %>
    <h2>お届け先住所</h2>
    <%= @address.delivery_address %>
    <h2>お届け先お名前</h2>
    <%= @address.delivery_name %>
    <% else %>
    <h2>お届け先郵便番号</h2>
    <%= current_end_user.main_postal_code %>
    <h2>お届け先住所</h2>
    <%= current_end_user.main_address %>
    <h2>お届け先お名前</h2>
    <%= current_end_user.last_name + current_end_user.first_name %>    
    <% end %>
</div>
<hr>

<div>
    <% total_price = 0 %>
    <% current_end_user.cart_products.each do |cart_product|%>
        <%= attachment_image_tag cart_product.product, :image, :fill, 100, 100, fallback: "default_product.jpg" , size:'100x100' %>
            <h2>シングル/アルバム名</h2>
            <%= cart_product.product.title %>
            <hr>
                <h2>数量</h2>
            <%= cart_product.quantity %>
            <h2>お支払い方法</h2>
            <%= @payment %>
            <hr>
            <h2>小計（税込）</h2>
            ¥ <%= cart_product.product.amount * cart_product.quantity %>
            <% total_price += cart_product.product.amount * cart_product.quantity %>
    <% end %>
</div>

    <div class="col-sm-4">
            <div>
            <h2>合計（税込）</h2>
            <%= total_price %>
            </tr>
            <h2>送料</h2>
            <h2>+ ¥500</h2>
            <h2>総計（税込）</h2>
            ¥ <%= total_price + 500 %>
        </div>
    </div>
    <hr>
<%= form_tag orders_path do %>
    <%= hidden_field_tag "address_id", @address_id %>
    <%= hidden_field_tag "payment_num", @payment_num %>
    <%= submit_tag "購入確定" %>
<% end %>

</div>