<div class= "container">
    <h1>購入履歴詳細</h1>
    <hr>
    <br>
    <div class="row">
    <div class="col-md-2">
    </div>

        <div class="col-md-4">
            <h2>購入日 : <%= @order.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") %></h2>
            <h2>配送ステータス:<%= @order.delivery_status %></h2> 
            <% total_quantity = 0 %>
            <% @order.order_details.each do |detail| %>
            <br>
            <%= attachment_image_tag detail.product, :image, :fill, 100, 100, fallback: "default_product.jpg" , size:'100x100' %> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <% end %>
        </div>
        <div class="col-md-4">
        <br>
        <br>
            <hr>
            <% @order.order_details.each do |detail| %>
            <h2>シングル/アルバム名 : <%= detail.product.title %></h2>
            <hr>
            <h2>アーティスト名 : <%= detail.product.artist.artist_name %></h2>
            <hr>
            <h2>レーベル名 : <%= detail.product.label.label_name %></h2>
            <hr>
            <h2>値段 : ¥<%= (detail.product.amount * 1.1).floor(0) %> (税込)</h2>
            <hr>
            <h2>購入枚数 : <%= detail.quantity %>枚</h2>
            <% total_quantity += detail.quantity %>
            <hr>
            <br>
            
            <% end %>
            <br>
            <br>
            <hr>
            <h2>合計枚数 : <%= total_quantity %> 枚</h2>

            <hr>
            <h2>小計 : ¥<%= (@order.purchase_price_total * 1.1).floor(0) %> (税込)</h2>

            <hr>
            <h2>送料 : ¥<%= @order.postage %></h2>

            <hr>
            <h2>購入価格総計 : ¥<%= (@order.purchase_price_total * 1.1).floor(0) + 500 %>(税込)</h2>

            <hr>
            <h2>お届け先名 : <%= @order.delivery_name %></h2>

            <hr>
            <h2>郵便番号 : <%= @order.delivery_postal_code %></h2>

            <hr>
            <h2>お届け先住所 : <%= @order.delivery_address %></h2>

            <hr>
            <h2>支払い方法 : <%= @order.payment_method %></h2>
            <hr>
            <div class= "button-wrapper">
                <%= link_to "購入履歴一覧へ戻る", orders_path, class: 'btn btn-info' %>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>



