<div class="nested-fields well well-compact">
<div class="form-group">
<%= f.label :disc_number %>
<%= f.number_field :disc_number %><br>
</div>

<div class="musics">
<%= f.fields_for :musics do |music| %>
<%= render 'music_fields', f: music %>
<% end %>
<div class="links">
<%= link_to_add_association "音楽追加欄を増やす", f, :musics %>
</div>
</div>

</div>