<%= form_for @product do |f| %>
<div class="field">
<%= f.label :title, "シングル/アルバム名" %>
<%= f.text_field :title %>
</div>
<div class="field">
<%= f.label :explanation, "商品説明" %>
<%= f.text_field :explanation %>
</div>

<h4>ディスクの登録</h4>
<div id="discs">
<%= f.fields_for :discs do |disc| %>
<%= render 'disc_fields', f: disc %>
<% end %>
<div class="links">

<%= link_to_add_association 'ディスク追加欄を増やす',f,:discs %>
</div>

<% end %>