<%= form_for @product do |f| %>
<div class="field">
<%= f.label :title, "title" %>
<%= f.text_field :title %>
</div>
<div class="field">
<%= f.label :explanation, "explanation" %>
<%= f.text_field :explanation %>
</div>

<h3>discs</h3>
<div id="discs">
<%= f.fields_for :discs do |disc| %>
<%= render 'disc_fields', f: disc %>
<% end %>
<div class="links">

<%= link_to_add_association 'add disc',f,:discs %>
</div>
<%= f.submit %>
</div>
<% end %>