
<h2>商品詳細</h2>

<%# image %>
<%= attachment_image_tag @product, :image_id, :fill, 100, 100, fallback: "default_user.jpg" , size:'100x100'  %>

<%= @product.title %>
<%= @product.amount %>
<%= @product.title %>
<%= @product.title %>
<%= @product.title %>
<%= @product.title %>


