<h1>商品情報の編集</h1>

<div>
<%= form_for([:admin, @product]) do |f| %>

<%= render 'form', product: @product %>

<div>ジャケット画像</div>
<p><%= f.attachment_field :image %></p>

<div>新しい商品のアーティスト</div>
<%= f.collection_select :artist_id, Artist.all, :id, :artist_name %>
<div>
<%= link_to "アーティストの追加" , new_admin_artist_path %>
</div>

<div>ジャンル</div>
<%= f.collection_select :genre_id, Genre.all, :id, :genre_name %>
<div>
<%= link_to "ジャンルの追加" , new_admin_genre_path %>
</div>

<div>レーベル</div>
<%= f.collection_select :label_id, Label.all, :id, :label_name %>
<div>
<%= link_to "レーベルの追加" , new_admin_label_path %>
</div>

<div>値段</div>
<p><%= f.text_field :amount %></p>

<%# <div>在庫数</div> %>
<%# <%= f.text_field :product %>

<%# <div>販売ステータス</div>
<p><%= f.select :status, Product.statuses.keys, {}, class: "select-default" %>

<p>
<%= f.submit '商品情報を更新する' %>
</p>

<p>
<%= link_to "商品の削除", admin_product_path(@product), method: :delete %>
</p>

<% end %>
</div>