<div class="container">
    <div class="page-header">
        <h2>商品一覧</h2>
        <br>
    </div>
    <div class="row">
        <div class="col-md-3">
                    <% @products.each do |product| %>
                    <%= link_to admin_product_path(product) do %>
                    <%= attachment_image_tag product, :image, :fill, 100, 100, fallback: "default_product.jpg" , size:'100x100' %>
                    <% end %>
                    <br>
                    <div><%= product.id %></div>
                    <br>
                    <div><%= product.title %></div>
                    <br>
                    <div><%= product.artist.artist_name %></div>
                    <br>
                    <div>価格 | ¥<%= product.amount %><div>
                    <br>
                    <div>在庫数</div>
                    <% productquantity = product.total_arrival_quantity - product.total_order_detail_quantity %>
                    <%= productquantity %>
                    <br>
                    <% if productquantity == 0 %>
                    <div>売り切れ</div>
                    <% else %>
                    <div>販売中</div>
                    <% end %>
                    <br>
                    <% end %>
        </div>
    </div>
</div>
