
<h2>商品一覧</h2>

<table>
<thead>
<tr>
<th class="table_image_id"></th>
<th class="table_id"></th>
<th class="table_title"></th>
<th class="table_artist_id"></th>
<th class="table_amount"></th>
<th class="table_quantity"></th>
<%# <th>売り切れ表示</th> %>
</tr>
</thead>

<tbody>
<% @products.each do |product| %>
<tr><%= product.image_id %></tr>
<tr><%= product.id %></tr>
<tr><%= product.title %></tr>
<tr><%= product.artist_id %></tr>
<tr><%= product.amount %></tr>
<tr><%= product.arrival.quantity %></tr>
<%# <% 売り切れ表示 %>
<% end %>
</tbody>
</table>

