
<h2>商品一覧</h2>

<table>
<thead>
<tr>
<th class="table_image"></th>
<th class="table_id"></th>
<th class="table_title"></th>
<th class="table_artist_id"></th>
<th class="table_amount"></th>
<th class="table_quantity"></th>
<%# <th>売り切れ表示</th> %>
<th></th>
</tr>
</thead>

<tbody>
<tr>
<% @products.each do |product| %>
<td>
<div><%= attachment_image_tag product, :image, :fill, 100, 100, fallback: "default_product.jpg" , size:'100x100' %></div>
</td>
<td>
<div><%= product.id %></div>
</td>
<td>
<div><%= product.title %></div>
</td>
<td>
<div><%= product.artist.artist_name %></div>
</td>
<td>
<div>価格 | ¥<%= product.amount %><div>
</td>
<td>
<div>在庫数</div>
</td>
<%# <tr><%= product.arrival.quantity %>
<%# <% 売り切れ表示 %>
<td>
<%# 全体をボタン形式にできたら %>
<%= link_to "詳細", admin_product_path(product) %>
</td>
<% end %>
</tr>
</tbody>
</table>

