<div class="container">
    <div class="page-header">
        <h1>商品一覧</h1>
        <br>
    </div>
    <div class="row">
        
            <% @products.each do |product| %>
            <div class="col-md-3">
                <div class="card px-2 py-1 text-center">
                
                    <img class="card img-top">
                    <%= link_to admin_product_path(product) do %>
                    <figure>
                    <%= attachment_image_tag product, :image, :fill, 170, 170, fallback: "default_product.jpg" , size:'170x170' %>
                    <% end %>
                    <div class="box">
                        <hr>
                        id:<%= product.id %>
                        
                        <div>
                            <%= product.title %>
                        </div>
                        
                        
                        <%= product.artist.artist_name %>
                        
                        
                        <div>価格 | ¥<%= product.amount %>(税抜)</div>
                        <br>
                        
                        <div>在庫数 : 
                            <%= productquantity = product.arrivals.sum(:quantity) - product.order_details.sum(:quantity) %>
                        </div>
                        <br>
                        
                        
                        
                        <% if productquantity == 0 %>
                        <div>売り切れ</div>
                        <% else %>
                        <div>販売中</div>
                        <% end %>
                        <br>
                    </div>
                    </figure>
                </div>
                <br>
            </div>
            
        
        <% end %>
    </div>
</div>
<br>
<div class="pagination">
    <%= paginate @products %>
</div>



