
<%# <% if flash[:notice] %>
  <%# <p class="flash_color"><%= flash[:notice] %>
<%# <% end %>

<h1>新規商品登録フォーム</h1>
    <hr>
    <br>
    <br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <%= form_for([:admin, @product]) do |f| %>

        <%= render 'form', product: @product %>

        <div>ジャケット画像</div>
        <p><%= f.attachment_field :image %></p>

        <div>アーティストを選択</div>
        <%= f.collection_select :artist_id, Artist.all, :id, :artist_name %>

        <div class="artist_button create_artist_button">アーティストを追加する</div>



        <div>ジャンルを選択</div>
        <%= f.collection_select :genre_id, Genre.all, :id, :genre_name %>

        <div class="new_button genre_button">ジャンルを追加する</div>

        <div class="genre_modal_wrapper">
            <div class="genre_modal genre_modal_content">
                <p class="text-right">
                <span class="fa_wrapper"><%= fa_icon "times" %></span>
                </p>
                <h1>ジャンル追加フォーム</h1>
                <h2>追加済みジャンル一覧</h2>
                <div class="genre_wrapper">
                    <% @genres.each do |genre| %>
                    <span><%= genre.genre_name %>
                    <%# <%= link_to '編集' , edit_admin_genre_path(genre) %>
                    <button type="button" name="削除" value="<%=genre.id%>" class="genre_delete">削除</button>
                    </span>
                    <%#= link_to '削除' , admin_genre_path(genre), method: :delete, id: "genre_delete", remote: true, data: {genre_id: genre.id} %>
                    <% end %>
                </div>
                <br>
                <br>
                <br>
                <h2>ジャンル追加</h2>
                <div>
                    <%= form_for [:admin, @genre], url: admin_genres_path, method: :POST, remote: false do |f| %>
                    <p><%= f.text_field :genre_name %></p>
                    <p><%= f.submit 'ジャンルを追加する', id: "genre_submit" %></p>
                    <% end %>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>


        <div>レーベル</div>
        <%= f.collection_select :label_id, Label.all, :id, :label_name %>

        <div class="new_button label_button">レーベルを追加する</div>

        <div class="label_modal_wrapper">
            <div class="label_modal label_modal_content">
                <p class="text-right">
                <span class="fa_wrapper"><%= fa_icon "times" %></span>
                </p>
                <h1>レーベル追加フォーム</h1>
                <h2>追加済みレーベル一覧</h2>
                <div class="label_wrapper">
                    <% @labels.each do |label| %>
                    <span><%= label.label_name %>
                    <%# <%= link_to '編集' , edit_admin_label_path(label) %>
                    <button type="button" name="削除" value="<%=label.id%>" class="label_delete">削除</button>
                    </span>
                    <% end %>
                </div>
                <br>
                <br>
                <br>
                <h2>レーベル追加</h2>
                <div>
                    <%= form_for [:admin, @label], url: admin_labels_path, method: :POST, remote: false do |f| %>
                    <p><%= f.text_field :label_name %></p>
                    <p><%= f.submit 'レーベルを追加する', id: "label_submit" %></p>
                    <% end %>
                </div>
            </div>
        </div>

        <div>値段</div>
        <p><%= f.text_field :amount %></p>

        <ul><%= f.submit '新規商品の登録をする' %></ul>
        <% end %>

    </div>
            <div class="artist_modal_wrapper">
            <div class="artist_modal artist_modal_content">
                <p class="text-right">
                <span class="fa_wrapper"><%= fa_icon "times" %></span>
                </p>
                <h1>アーティスト追加フォーム</h1>
                <h2>追加済みアーティスト一覧</h2>
                <div class="artist_wrapper">
                    <% @artists.each do |artist| %>
                    <span><%= artist.artist_name %>
                    <%#= link_to '編集' , admin_artist_path(artist), method: PUT %>
                    <button type="button" name="削除" value="<%=artist.id%>" class="artist_delete">削除</button>
                    </span>
                    <% end %>
                </div>
                <br>
                <br>
                <br>
                <h2>アーティスト追加</h2>
                <div>
                    <%= form_for [:admin, @artist], url: admin_artists_path, method: :POST, remote: false do |f| %>
                    <p><%= f.text_field :artist_name %></p>
                    <p><%= f.submit 'アーティストを追加する', id: "artist_submit" %></p>
                    <% end %>
                </div>
            </div>
        </div>

</div>