<div class="container">
    <h1>商品詳細</h1>
    <hr>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div>
            <%= attachment_image_tag @product, :image, :fill, 100, 100, fallback: "default_product.jpg" , size:'200x200' %>
            </div>

            <h2>商品名：<%= @product.title %></h2>
            <hr>

            <h2>価格：¥<%= @product.amount %>(税抜)</h2>
            <hr>

            <h2>在庫数：
            <%= productquantity = @product.arrivals.sum(:quantity) - @product.order_details.sum(:quantity) %></h2>
            <hr>

            <h2>販売状況</h2>
            <% if productquantity == 0 %>
            <h2>売り切れ</h2>
            <% else %>
            <h2>販売中</h2>
            <% end %>
            <hr>
            <h2>アーティスト：<%= @product.artist.artist_name %></h2>
            <hr>

            <h2>レーベル：<%= @product.label.label_name %></h2>
            <hr>

            <h2>ジャンル：<%= @product.genre.genre_name %></h2>
            <hr>


            <h2>ディスク名</h2>
            <% @product.discs.each do |disc| %> 
            <%= disc.disc_number %>
            <h2>収録曲一覧</h2>
            <% disc.musics.each do |music| %> 
            <%= music.music_name %> 
            <% end %> 
            <% end %> 
            <hr>
            <h2>商品紹介</h2>
            <div>
            <%= @product.explanation %>
            </div>
            <hr>
            <div class="botton-wrapper">
            <%= link_to "商品の情報を編集する" , edit_admin_product_path(@product), class: 'btn btn-default' %>
            </div>
            <hr>
            <div class="botton-wrapper">
            <%= link_to "商品一覧へ" , admin_products_path, class: 'btn btn-info' %>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>