
<h2>商品詳細</h2>

<div>
<%= attachment_image_tag @product, :image, :fill, 100, 100, fallback: "default_product.jpg" , size:'200x200' %>
</div>

<div>商品名</div>
<%= @product.title %>

<div>価格</div>
<%= @product.amount %>

<%# <div>在庫数</div> %>
<%# productquantity = @product.total_arrival_quantity - @product.total_order_detail_quantity %>
<%#= productquantity %>

<%# <div>販売状況</div> %>
<%# if productquantity == 0 %>
<%# <div>売り切れ</div> %>
<%# else %>
<%# <div>販売中</div> %>
<%# end %>

<div>アーティスト</div>
<%= @product.artist.artist_name %>

<div>レーベル</div>
<%= @product.label.label_name %>

<div>ジャンル</div>
<%= @product.genre.genre_name %>


<div>ディスク名</div>
<% @product.discs.each do |disc| %> 
<%= disc.disc_number %>
<div>収録曲一覧</div>
<% disc.musics.each do |music| %> 
<%= music.music_name %> 
<% end %> 
<% end %> 


<div>商品紹介</div>
<div>
<%= @product.explanation %>
</div>

<div>
<%= @product.status %>
</div>

<div>
<%= link_to "商品の情報を編集する" , edit_admin_product_path(@product) %>
</div>

<div>
<%= link_to "商品一覧へ" , admin_products_path %>
</div>