
<h2>商品詳細</h2>

<%# image %>
<%= attachment_image_tag @product, :image_id, :fill, 100, 100, fallback: "default_user.jpg" , size:'100x100'  %>

<%= @product.title %>
<%= @product.amount %>
<%= @product.artist_id %>
<%= @product.label_id %>
<%= @product.genre_id %>


<h2>曲一覧</h2>
<%= @product.disc.music.music_name %>


<h2>商品紹介</h2>
<%= @produst.explanation %>


<%= link_to "商品情報編集" , admin_products_path(@product) %>
