<div class="container">

    <% if @end_user.errors.any? %>
        <div class="alert alert-warning">
            <ul>
            <% @end_user.errors.full_messages.each do |message| %>
            <li><%= "error:" + message %></li>
            <br>
            <% end %>
            </ul>
        </div>
    <% end %>
    

    <h1>マイページ編集</h1>
    
    <%= form_for(@end_user) do |f| %>
        <table>
                <tr>
                    <th>お名前</th>
                    <td>
                        <%= f.text_field :last_name %>
                        <%= f.text_field :first_name %>
                    </td>
                </tr>
                <tr>
                    <th>お名前カナ</th>
                    <td>
                        <%= f.text_field :last_name_kana %>
                        <%= f.text_field :first_name_kana %>
                    </td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><%= f.text_field :email %></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><%= f.text_field :phone_number, placeholder: "電話番号" %></td>
                </tr>
        </table>
        <br>

        <div class="button_wrapper">
            <%= f.submit 'この内容で更新する' %>
        </div>
    <% end %>

    <br><br>
    <h1>お届け先住所追加</h1>
    <%= form_for [@end_user, @newaddress] do |f| %>
        <table>
            <tr>
                <th>お届け先郵便番号</th>
                <td><%= f.text_field :delivery_postal_code %></td>
            </tr>
            <tr>
                <th>お届け先住所</th>
                <td><%= f.text_field :delivery_address, placeholder: "○○県○○市○○○"%></td>
            </tr>
            <tr>
                <th>お届け先お名前</th>
                <td><%= f.text_field :delivery_name, placeholder: "              　　　 様" %></td>
            </tr>
        </table>
            <br>

            <div class="button_wrapper">
                <%= f.submit '追加' %>
            </div>
    <% end %>
    <br>
    <br>
    <div class="button_wrapper">
    <%= link_to "退会する", out_path(@end_user), class: "btn btn-danger" %>
    </div>
</div>

