<div class="container">

    <table border="1" style="border-collapse: collapse">
    <h1>ご登録者様情報</h1>
        <tr>
            <th>お名前</th>
            <td>
                <%= @full_name_kana %>
                <%= "#{@full_name}様" %>
            </td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><%= @email %></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td><%= @phone_number %></td>
        </tr>
        <tr>
            <th>ご登録住所</th>
            <td>
                <%= @main_postal_code %>
                <%= @main_address %>
            </td>
        </tr>
        <% @addresses.each_with_index do |address,i| %>
        <tr>
            <th>お届け先住所<%= i + 1 %></th>
            <td>
                <%= address.delivery_name %>様
                <%= address.delivery_postal_code %>
                <%= address.delivery_address %>
            </td>
        </tr>
        <% end %>
    </table>

    <%= link_to edit_end_user_path(@end_user), class: "center-block" do %>
        <div class="button_wrapper">
            <button type="button" class="btn btn-default">編集する</button>
        </div>
    <% end %>
</div>