<div class="black"></div>
<div class= "container">
    <div class="page-header">
        <h1>商品一覧</h1>
        <br>
        <div class= "row">
            <% @products.each_with_index do |product, i| %>
                <% if i >= 4 %>
                    <div class= "col-md-3">
                        <div class="effect">
                            <div>
                                <%= link_to product_path(product) do %>
                                
                                <figure>
                                
                                <div class="card px-2 py-1 text-center">  
                                    <img class="card-img-top"><%= attachment_image_tag product, :image, :fill, 170, 170, fallback: "default_product.jpg" , size:'170x170' %>
                                    <% end %>
                                    <br>
                                    <hr>
                                    <div class="box">
                                        <%= product.title %>
                                        <br>
                                        <%= product.artist.artist_name %>
                                        <br>
                                        <h2 class="card-title">価格 | ¥<%= product.included_price %></h2>
                                        <br>
                                        <h2 class="card-title">在庫数
                                        <%= productquantity = product.arrivals.sum(:quantity) - product.order_details.sum(:quantity) %>
                                        <%= productquantity %>枚</h2>
                                        <br>
                                        <h2 class="card-title">販売状況<h2>
                                        <% if productquantity == 0 %>
                                            <h2 class="card-title soldout">売り切れ<h2>
                                        <% else %>
                                            <h2 class="card-title sale">販売中<h2>
                                        <% end %>
                                    </div>

                                </div>
                                </figure>
                                <br>
                            </div>
                        </div>
                    </div>
            <% else %>
                    <div class= "col-md-3">
                        <div>
                            <%= link_to product_path(product) do %>
                            <figure>
                            <div class="card px-2 py-1 text-center">
                                <img class="card-img-top"><%= attachment_image_tag product, :image, :fill, 170, 170, fallback: "default_product.jpg" , size:'170x170' %>
                                <% end %>
                                <br>
                                <hr>
                                <div class="box">
                                    <%= product.title %>
                                    <br>
                                    <%= product.artist.artist_name %>
                                    <br>
                                    <h2 class="card-title">価格 | ¥<%= product.included_price %><h2>
                                    <br>
                                    <h2 class="card-title">在庫数
                                    <% productquantity = product.total_arrival_quantity - product.total_order_detail_quantity %>
                                    <%= productquantity %>枚</h2>
                                    <br>
                                    <h2 class="card-title">販売状況<h2>
                                    <% if productquantity == 0 %>
                                        <h2 class="card-title soldout">売り切れ<h2>
                                    <% else %>
                                        <h2 class="card-title sale">販売中<h2>
                                    <% end %>
                                </div>
                                
                                
                            </div>
                            </figure>
                            <br>
                        </div>
                    </div>
            <% end %>
            <% end %>
        </div> <%#rowの閉じタグ%>
    </div>
</div> <%#containerの閉じタグ%>

<div class="pagination">
<%= paginate @products %>
</div>





