<div class= "container">
<div class="page-header">
<h1>商品一覧</h1>
<br>
</div>
<div class= "row">
<% @products.each do |product| %>
<div class= "col-md-3">
<div>

<%# <th>売り切れ表示</th> %>
<%= link_to product_path(product) do %>
<%= attachment_image_tag product, :image, :fill, 100, 100, fallback: "default_product.jpg" , size:'100x100' %>
<% end %>
<br>
<%= product.title %>
<br>
<%= product.artist.artist_name %>
<br>
<div>価格 | ¥<%= product.amount %></div>
<%# <% 売り切れ表示 %>
<br>
<hr>
</div>
</div>


<% end %>
<%= paginate @products %>

</div>
</div>
