<div class= "container">
<div class= "page-header">
<h1><strong>入荷履歴一覧</strong></h1>
</div>
<div class="list-group">
<table class= "table">
<% @arrivals.each do |arrival| %>
<tr>
    <th>商品名</th>
    <th>数量</th>
    <th>入荷日時</th>
    <th></th>
</tr>
<tr>
    <td><%= arrival.product.title %></td>
    <td><%= arrival.quantity %></td>
    <td><%= arrival.arrival_time%></td>
    <td><%= link_to edit_admin_arrival_path(arrival) do %>
    <i>編集</i>
    <% end %>
    </td>
</tr>
<% end %>
</table>
<div class="center">
<%= paginate @arrivals %>
</div>
<div class="button_wrapper">
<%= link_to "入荷情報追加", new_admin_arrival_path, class: 'btn' %>
</div>
</div>

