<div class= "container">
    <div class= "page-header">
        <h1><strong>入荷履歴一覧</strong></h1>
    </div>
    <div class="list-group">
        <table class= "table">
            <tr>
                <th>商品名</th>
                <th>数量</th>
                <th>入荷日時</th>
                <th></th>
            </tr>
        <% @arrivals.each do |arrival| %>
            <tr>
                <td><%= Product.with_deleted.find(arrival.product_id).title %></td>
                <td><%= arrival.quantity %></td>
                <td><%= arrival.arrival_time.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") %></td>
                <td><%= link_to edit_admin_arrival_path(arrival) do %>
                <i>編集</i>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </table>
            <div class="center">
                <%= paginate @arrivals %>
            </div>
            <div class="button_wrapper">
                <%= link_to "入荷情報追加", new_admin_arrival_path, class: 'btn' %>
            </div>
    </div>
</div>

