<div class= "container">
<h1>入荷情報追加フォーム</h1>
<%= form_for([:admin, @arrival]) do |arrival| %>
    <div class= "field">
    <p>シングル/アルバム名</p>
    <%= arrival.select :product_id, Product.all.map {|p| [p.title, p.id]} %>
    </div><br>
    <div class= "field">
    <p>数量</p>
    <%= arrival.number_field :quantity %>
    </div><br>
    <div class= "field">
    <p>入荷日時</p>
    <%= arrival.datetime_select :arrival_time, class: 'form-control' %>
    </div><br>
    <%= arrival.submit %>

<% end %>
</div>

