<!DOCTYPE html>
<html>
  <head>
    <title>namespace - end_user</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

<%# header %>


<header>
    <nav>
        <h1><a href="#">ホーム</a></h1>
        <% if end_user_signed_in? %>
        <ul class="nav-list">
            <li class="nav-list-item">検索</li>
            <li class="nav-list-item">ユーザー名</li>
            <li class="nav-list-item">購入履歴</li>
            <li class="nav-list-item">カート</li>
            <li class="nav-list-item"><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %></li>
        </ul>

        <% elsif admin_signed_in? %>
        <ul class="nav-list">
            <li class="nav-list-item">アドミん</li>
            <li class="nav-list-item"> admin</li>
            <li class="nav-list-item">購入履歴</li>
            <li class="nav-list-item">カート</li>
            <li class="nav-list-item"><%= link_to "ログイン", new_end_user_session_path %></li>
        </ul>
    
        <% else %>
        <ul class="nav-list">
            <li class="nav-list-item">検索</li>
            <li class="nav-list-item">ユーザー名</li>
            <li class="nav-list-item">購入履歴</li>
            <li class="nav-list-item">カート</li>
            <li class="nav-list-item"><%= link_to "ログイン", new_end_user_session_path %></li>
        </ul>
        <% end %>
    </nav>
</header>

<%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>
